<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
    <div class="row">
        <div class="col-lg col-sm col-md col-lg-12">
            <nav class="navbar navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <!-- <li class="nav-item">
                        <a routerLink="/" class="nav-link">Home</a>
                    </li> -->
                    <li class="nav-item">
                        <a routerLink="/produtos" class="nav-link">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/categorias" class="nav-link">Categorias</a>
                    </li>
                </ul>
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-lg col-sm col-md col-lg-10">
                        <a routerLink="cadastrar-produtos" routerLinkActive="active" class="btn btn-primary btn-lg active btn-cadastro float-right"
                            role="button" aria-pressed="true">Adicionar</a>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>